<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Add pic</title>

</head>

<body class="body-form" style="background-color: pink;">
    <header>
        <%- include('./partials/nav'); %>
    </header>
    <div class="d-flex align-items-center p-2 flex-column">
        <h2>Añadir nueva imagen</h2>
        <div class="border border-1 rounded p-4 m-2 shadow" style="background-color:white ;">
            <form action="/images/nueva-imagen" method="post" autocomplete="on">

                <label for="title" class="col-sm-2 col-form-label">Título</label>
                <input type="text" class="form-control" id="title" name="title" required maxlength="10"
                    pattern="[a-zA-Z0-9_]{1,10}">
                <!-- hacer que no acepte si lleva comillas -->
                <label for="urlPic" class="col-sm-2 col-form-label">Link</label>
                <input type="url" class="form-control" id="urlPic" name="url" required>

                <label for="datePic" class="col-sm-2 col-form-label">Fecha</label>
                <input type="date" class="form-control " id="datePic" name="date" required>

                <label for="tag">Etiqueta</label>
                <select id="tag" name="tag" class="form-select" aria-label="select tag">
                    <option selected>Seleccionar </option>
                    <% tags.forEach(t=> { %>
                        <option style="text-transform: capitalize;" value="<%= t.name %>">
                            <%= t.name %>
                        </option>
                        <% }) %>
                </select>

                <br><br>
                <button class="btn btn-primary" type="submit">Añadir a galería</button>
                <% if (urlRepetida) {%>
                    <p>
                        <%= urlRepetida %> ya esta en la galeria
                    </p>
                    <% }%>

            </form>
        </div>
    </div>
</body>

</html>